name: E4E Release & Publish Workflow
on:
  push:
    branches:
      - master
env:
  PROJECT_NAME: explorer-for-endevor
  E4E_TELEMETRY_KEY: ${{ secrets.E4E_TELEMETRY_KEY }}
jobs:
  build-package-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build E4E
        run: |
          yarn workspace ${{ env.PROJECT_NAME }} build:prod
          yarn workspace ${{ env.PROJECT_NAME }} copy-into-repo-root
      - name: Copy documentation into build context
        run: yarn copy-into-build-context
      - name: Package VSIX
        run: yarn workspace ${{ env.PROJECT_NAME }} package
      - name: Publish to Open VSX Registry
        if: success()
        uses: HaaLeo/publish-vscode-extension@v0
        id: publishToOpenVSX
        with:
          pat: ${{ secrets.OPENVSX_TOKEN }}
          registryUrl: https://open-vsx.org
          extensionFile: ${{ github.workspace }}/packages/${{ env.PROJECT_NAME }}/vsce/explorer-for-endevor.vsix
          packagePath: ''
      - name: Publish to Visual Studio Marketplace
        if: success()
        uses: HaaLeo/publish-vscode-extension@v0
        with:
          pat: ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: ${{ github.workspace }}/packages/${{ env.PROJECT_NAME }}/vsce/explorer-for-endevor.vsix
          packagePath: ''
